.App {
  height: 100vh;
  display: flex;
  gap: 20px;
  padding: 40px;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: lightgray;
  transition: 300ms;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
